a {
    color: #0078b5;
    text-decoration: underline;
}

/*
* {
    font-family: Verdana;
}
*/

h1, h2 {
    font-family: 'Marmelad';
    font-weight: 400;
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

dt, dd, footer {
    font-size: 13px;
    line-height: 18px;
}

footer a {
    color: #fdfeff;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.figure {
    margin: 0.5em;
}

.figure .caption {
    text-align: center;
}

footer h3 {
    font-size: 1em;
    color: #ccc;
}

footer .logo {
    text-align: center;
    padding: 0.5em;
}

body {
    background: gray;
    margin-bottom: 2em;
    margin-top: 2em;
    background-image: url("../images/cubes.png");
}

body > .container {
    -moz-box-shadow: 0 0 3px 3px rgba(211, 211, 211, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgba(211, 211, 211, 0.5);
    box-shadow: 0 0 3px 3px rgba(211, 211, 211, 0.5);

    background: white;
    background-image: url("../images/egg_shell.png");
}

body > .container {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.hero-unit {
    margin-bottom: 1em;
    padding: 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/tube.jpg"); /* http://www.flickr.com/photos/13522901@N00/6945360545/*/
}

#siteHeader {
    padding-top: 3em;
    padding-bottom: 2em;
    margin-left: 4em;
    overflow: auto;
}

#siteLogo {
    float: left;
}

#siteInfo {
    float: left;
    margin-left: 2em;
}

.teaser {
    font-weight: bold;
}

#motto {
    margin: 0;
    float: right;
}

footer {
    background: #333;
    margin-top: 1em;
    padding: 1em;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    color: #ccc;
}

#attributions {
    margin-top: 1em;
}

.navi {
    width: 100%;
    padding: 0.5em 0em 0.5em 0em;
    margin: 0;
    background: #111;
    list-style: none;
    font-size: medium;
}

.navi {
    opacity: 0.8;
}

.subnavi {
    opacity: 1.0;
}

.navi .selected {
    font-weight: bold;
}

.navi li {
    background: #111;
    padding: 0em 2em 0em 2em;
    display: inline;
    border-right: 1px solid #CCC;
}

.subnavi li {
    border-right: 1px dotted #CCC;
}


.navi li:last-child {
    border-right: none;
}

.navi li a {
    color: #ccc;
}

footer .contact {
    float: right;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    body {
        margin: 0;
    }
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.2;
}

.full .close {
    float: right;
    background-image: url("../images/close.png"); /* from glyphicons */
    width: 26px;
    height: 26px;
}

.hero-unit h1 {
    margin-top: 0;
}

