a {
    color: #08c;
    text-decoration: none;
}

* {
    font-family: Verdana;
}

h1, h2, .navi li {
    font-family: 'Marmelad', cursive;
    font-weight: 400;
}

dt {
    font-weight: bold;
}

dt, dd, footer {
    font-size: 13px;
    line-height: 18px;
}

.wrapper {
    margin-left: 1em;
    margin-right: 1em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.figure {
    margin: 0.5em;
}

.figure .caption {
    text-align: center;
}

footer h3 {
    font-size: 1em;
    color: #ccc;
}

footer .logo {
    text-align: center;
    padding: 0.5em;
}

body {
    background: gray;
    margin-bottom: 2em;
    margin-top: 2em;
    background-image: url("../images/concrete.jpg"); /* http://bitandartat.deviantart.com/#/d3j1yyy */
}

body > .container {
    -moz-box-shadow: 3px 3px 10px #888;
    -webkit-box-shadow: 3px 3px 10px #888;
    box-shadow: 3px 3px 10px #666;

    background: white;
    background-image: url("../images/paper.jpg"); /* http://www.flickr.com/photos/zooboing/4182512221/ */
}

body > .container {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.hero-unit {
    margin-bottom: 1em;
    padding: 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/alps.jpg"); /* http://de.fotopedia.com/items/flickr-161058424 */
    background-position: -60px -200px;
}

#siteHeader {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 4em;
    overflow: auto;
}

#siteLogo {
    float: left;
}

#siteInfo {
    float: left;
    margin-left: 1em;
}

.teaser {
    font-weight: bold;
}

#motto {
    margin: 0;
    padding-top: 0.5em;
}

footer {
    background: #111;
    margin-top: 1em;
    padding: 1em;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    color: #ccc;
}

#attributions {
    margin-top: 1em;
}

.navi {
    width: 100%;
    padding: 0.5em 0em 0.5em 0em;
    margin: 0;
    background: #111;
    list-style: none;
    font-size: large;
}

.navi {
    opacity: 0.8;
}

.subnavi {
    opacity: 1.0;
}

.navi .selected {
    font-weight: bold;
}

.navi li {
    background: #111;
    padding: 0em 2em 0em 2em;
    display: inline;
    border-right: 1px solid #CCC;
}

.navi li:last-child {
    border-right: none;
}

.navi li a {
    color: #ccc;
}

footer .contact {
    float: right;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    body {
        margin: 0;
    }
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.2;
}

.full .close {
    float: right;
    background-image: url("../images/close.png"); /* from glyphicons */
    width: 26px;
    height: 26px;
}

