/* carousel */
#projects .prev.button {
    float: left;
    background: url(../images/arrow_left.png) no-repeat 0 -31px; /* bxslider */
    padding-right: 0.5em;
}

#projects .next.button {
    float: right;
    background: url(../images/arrow_right.png) no-repeat 0 -31px; /* bxslider */
    padding-left: 0.5em;
}

#projects .button {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

#projects .navi {
    text-align: center;
}

#projects .navi .button {
    margin-left: 1em;
}

#projects .navi .selected.button {
    font-weight: bold;
}

/* widgets */
#news dd, #tweets dd {
    margin-bottom: 0.5em;
}

#news .date, #tweets .date {
    margin-right: 0.5em;
}

/* polaroids */
.polaroid {
    float: left;
    width: 100px;
}

.polaroid, .fullPolaroid {
    margin: 1em;
    padding: 1%;
    -moz-box-shadow: 3px 3px 10px #888;
    -webkit-box-shadow: 3px 3px 10px #888;
    box-shadow: 3px 3px 10px #888;
    background: #fafafa;
}    

.polaroid:nth-child(2n) {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
}

.polaroid:nth-child(3n) {
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    -ms-transform:rotate(-2deg);
}

.polaroid:nth-child(5n) {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
}

.polaroid img, .fullPolaroid img {
    max-height: 100%;
    max-width: 100%;
}

.polaroid .description, .fullPolaroid .description {
    margin: 0.5em;
    margin-bottom: 0em;
    font-family: 'Arial';
    font-size: normal;
    text-align: center;
}

.polaroid .longDescription, .fullPolaroid .longDescription {
    display: none;
}

.animated:hover {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
}

#overlay {
    position: fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    z-index: 1;
    background-color: black;
    opacity: 0;
}

.fullPolaroid {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
}

.close {
    opacity: 0.6;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url(../images/icons.png) -40px 0px; /* fancybox */
}

.close:hover {
    opacity: 1.0;
}

