#news dd, #tweets dd {
    margin-bottom: 0.5em;
}

#news .date, #tweets .date {
    margin-right: 0.5em;
}

#contactForm {
    background: white;
    padding: 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#contactForm form {
    padding-top: 1em;
    margin: 0;
}

