.polaroid {
    float: left;
    max-width: 75px;
}

.polaroid {
    margin: 1em;
    padding: 1%;
    -moz-box-shadow: 3px 3px 10px #888;
    -webkit-box-shadow: 3px 3px 10px #888;
    box-shadow: 3px 3px 10px #888;
    background: #fafafa;
    cursor: pointer;
}    

.polaroid:nth-child(2n) {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
}

.polaroid:nth-child(3n) {
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    -ms-transform:rotate(-2deg);
}

.polaroid:nth-child(5n) {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
}

.polaroid img {
    max-height: 100%;
    max-width: 100%;
}

.polaroid .name {
    margin-bottom: 0em;
    font-family: 'Arial';
    font-size: normal;
    text-align: center;
}

.polaroid .description {
    display: none;
}

.selected.polaroid {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}

