---
layout: layout
title: Professionals
css: professionals
js: professionals
permalink: professionals/
---

<div class="row">
    <div class="span5">
            <div class="polaroids">
                <div class="polaroid" id="epeli">
                    <img src="/images/professionals/epeli.jpg" />
                    <div class="name">Esa-Matti Suuronen</div>
                    <div class="description">{% include professionals/epeli.html %}</div>
                </div>
                <div class="polaroid" id="maakuth">
                    <img src="/images/professionals/maakuth.jpg" />
                    <div class="name">Markus Vuorio</div>
                    <div class="description">{% include professionals/maakuth.html %}</div>
                </div>
                <div class="polaroid" id="deggis">
                    <img src="/images/professionals/deggis.png" />
                    <div class="name">Heikki Salo</div>
                    <div class="description">{% include professionals/deggis.html %}</div>
                </div>
                <div class="polaroid" id="eladith">
                    <img src="/images/professionals/eladith.png" />
                    <div class="name">Jarkko Vilhunen</div>
                    <div class="description">{% include professionals/eladith.html %}</div>
                </div>
                <div class="polaroid" id="zouppen">
                    <img src="/images/professionals/joell.jpg" />
                    <div class="name">Joel Lehtonen</div>
                    <div class="description">{% include professionals/joell.html %}</div>
                </div>
                <div class="polaroid" id="tuomasjjrasanen">
                    <img src="/images/professionals/tuomasjjrasanen.png" />
                    <div class="name">Tuomas Räsänen</div>
                    <div class="description">{% include professionals/tjjr.html %}</div>
                </div>
                <div class="polaroid" id="bebraw">
                    <img src="/images/professionals/jv.jpg" />
                    <div class="name">Juho Vepsäläinen</div>
                    <div class="description">{% include professionals/jv.html %}</div>
                </div>
                <div class="polaroid" id="cornix">
                    <img src="/images/professionals/jouni_potila_3.jpg" />
                    <div class="name">Jouni Potila</div>
                    <div class="description">{% include professionals/cornix.html %}</div>
                </div>
                <div class="polaroid" id="tuomosipola">
                    <img src="/images/professionals/tuomo_sipola_20120803.png" />
                    <div class="name">Tuomo Sipola</div>
                    <div class="description">{% include professionals/tuomosipola.html %}</div>
                </div>
                <div class="polaroid" id="alexhanh">
                    <img src="http://www.gravatar.com/avatar/8a31cdd4db37fa32b99442ed071dd72c.png" />
                    <div class="name">Alexander Hanhikoski</div>
                    <div class="description">{% include professionals/alexhanh.html %}</div>
                </div>
        </div>
    </div>

    <div class="span7">
        <h2 id="name">Information</h2>
        <div id="info"></div>
    </div>
</div>

