---
layout: layout
title: Professionals
css: professionals
js: professionals
permalink: professionals/
---

<div class="row">
    <div class="col col-md-5">
            <div class="polaroids">
                <div class="polaroid" id="epeli">
                    <img src="/images/professionals/epeli.jpg" alt="Epeli" />
                    <div class="name">Esa-Matti Suuronen</div>
                    <div class="description">{% include professionals/epeli.html %}</div>
                </div>
                <div class="polaroid" id="maakuth">
                    <img src="/images/professionals/maakuth.jpg" alt="Maakuth" />
                    <div class="name">Markus Vuorio</div>
                    <div class="description">{% include professionals/maakuth.html %}</div>
                </div>
                <div class="polaroid" id="deggis">
                    <img src="/images/professionals/deggis.png" alt="Deggis" />
                    <div class="name">Heikki Salo</div>
                    <div class="description">{% include professionals/deggis.html %}</div>
                </div>
                <div class="polaroid" id="eladith">
                    <img src="/images/professionals/eladith.png" alt="Eladith" />
                    <div class="name">Jarkko Vilhunen</div>
                    <div class="description">{% include professionals/eladith.html %}</div>
                </div>
                <div class="polaroid" id="zouppen">
                    <img src="/images/professionals/joell.jpg" alt="Zouppen" />
                    <div class="name">Joel Lehtonen</div>
                    <div class="description">{% include professionals/joell.html %}</div>
                </div>
                <div class="polaroid" id="tuomasjjrasanen">
                    <img src="/images/professionals/tuomasjjrasanen.png" alt="tuomasjjrasanen" />
                    <div class="name">Tuomas Räsänen</div>
                    <div class="description">{% include professionals/tjjr.html %}</div>
                </div>
                <div class="polaroid" id="bebraw">
                    <img src="https://en.gravatar.com/userimage/3186756/e5730252424889bb3b51c261877c3927.png" alt="bebraw" />
                    <div class="name">Juho Vepsäläinen</div>
                    <div class="description">{% include professionals/jv.html %}</div>
                </div>
                <div class="polaroid" id="cornix">
                    <img src="/images/professionals/jouni_potila_3.jpg" alt="cornix" />
                    <div class="name">Jouni Potila</div>
                    <div class="description">{% include professionals/cornix.html %}</div>
                </div>
                <div class="polaroid" id="tuomosipola">
                    <img src="/images/professionals/tuomo_sipola_20120803.png" alt="zipola" />
                    <div class="name">Tuomo Sipola</div>
                    <div class="description">{% include professionals/tuomosipola.html %}</div>
                </div>
                <div class="polaroid" id="alexhanh">
                    <img src="http://www.gravatar.com/avatar/8a31cdd4db37fa32b99442ed071dd72c.png" alt="alexhanh" />
                    <div class="name">Alexander Hanhikoski</div>
                    <div class="description">{% include professionals/alexhanh.html %}</div>
                </div>
				<div class="polaroid" id="airzero">
                    <img src="/images/professionals/airzero.jpg" alt="airzero" />
                    <div class="name">Eetu Rantakangas</div>
                    <div class="description">{% include professionals/airzero.html %}</div>
                </div>
        </div>
    </div>

    <div class="col col-md-7">
        <h2 id="name">Information</h2>
        <div id="info"></div>
    </div>
</div>

