<p>To my knowledge I'm a fellow earthling enthusiastic of programming, which I'm studying at University of Jyväskylä. I'm fond of computer graphics and enjoy tinkering with inner loops in calculation intensive tasks, especially with parallel architectures. Lately I've been studying functional programming, which seems quite fascinating.</p>

<p>When I'm not programming nor studing I'm mostly likely consuming science fiction or enjoying a walk somewhere a bit further outside.</p>

<h3>Email</h3>
<p>Jarkko Vilhunen &lt;<a href="mailto:vilhunen@gmail.com">vilhunen&#64;gmail.com</a>&gt;</p>

<h3>IRC</h3>
<p>Eladith@IRCnet</p>
