<p>I am a software developer, electronic hobbyist and a human being. I
have master's degree
in <a href="https://www.jyu.fi/it/laitokset/mit/en" title="Department
of Mathematical Information Technology in University of
Jyväskylä">mathematical information technology</a> (University of
Jyväskylä, 2010). My secodary subjects were mathematics and
statistics.

<p>My main employer is <a href="http://prasos.fi"/>Prasos Oy</a>, a
leading Finnish cryptocurrency service provider in Finland. My current
weekly allocation is 60% for Prasos and 40% for Koodilehto.</p>

<p>In addition to computers, my hobbies include bicycling, geocaching
and politics.</p>

<h3>Contact</h3>
<p>I prefer e-mail. My address is joel.lehtonen&#x40;iki.fi. You can
also find me in IRCNet as Zouppen. If you need mailing address or
phone number, feel free to ask them by e-mail.</p>

<h3>Working history</h3>

<p>I started my career at the University of Jyväskylä as a part-time
teacher (Finnish: sivutoiminen tuntiopettaja) at the University of
Jyväskylä in Autumn 2006. Besides to teaching I have worked in wide
variety of software projects in my university before graduation. In
February, 2010 I got a position of research assistant at the
University of Jyväskylä, Department of Mathematical Information
Technology. My primary task was Web server log data mining using
diffusion maps (DM) method.</p>

<p>After graduation I worked 3 years at <a href="http://c2smartlight.com/" title="C2
SmartLight website">C2 SmartLight Oy</a>, leading outdoor lighting
company in Finland. My current emloyer is Prasos Oy.</p>

