<p>I'm a software developer and sysadmin with a M. Sc. in IT.
These days I mainly do C# development, but I also know my way around Python and Java.
Not that I'm afraid to hack with Ruby, shell scripts or C if the situation calls for them.
</p>

<h3>Contact</h3>

<h4>Email</h4>
<p>markus.vuorio at iki dot fi</p>
                    
<h4>IRC</h4>
<p>Maakuth @ IRCNet, Freenode, QuakeNet</p>

<h4>Skype</h4>
<p>markus.vuorio</p>

<h4>Telephone</h4>
<p>+358 50 381 3263</p>

<h4>Social networks</h4>
<ul>
                    <li><a href="http://www.linkedin.com/profile/view?id=55149854">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/maakuth">Facebook</a></li>
                    <li><a href="https://twitter.com/maakuth">Twitter</a></li>
</ul>
