<p>Tuomo Sipola is a scientist specializing in data mining and visualization. He completed his Ph.D. degree in information technology at the <a href="http://www.jyu.fi/">University of Jyväskylä</a> in 2013. He spends his spare time with movies, dead languages and graphic design. </p>

<ul>
	<li><a href="mailto:tuomo.sipola@koodilehto.fi">tuomo.sipola@koodilehto.fi</li>
	<li><a href="https://fi.linkedin.com/in/tuomosipola">LinkedIn</a></li>
	<li><a href="https://google.com/+TuomoSipola">Google+</a></li>
	<li><a href="https://github.com/tuomosipola">Github</a></li>
</ul>

