<p>
I am a software developer and a researcher. I hold a Master's degree
in mathematical information technology from University of
Jyväskylä. Currently I am employed
by <a href="http://magister.fi">Magister Solutions Ltd.</a> where I am
studying wireless network technologies and doing system-level network
simulator development. Also my prior working experience consists of
various software development jobs.
</p>

<p>
Software development plays a major role in my life. In addition to
feeding myself by developing software, I also program during my spare
time. I author couple of free software projects and try to be
increasingly active in the open source software community in general.
</p>

<p>
<a href="http://tjjr.fi">http://tjjr.fi</a>
</p>
