---
layout: layout
title: Members
css: members
js: members
---

<div class="row">
    <div class="span5">
        <div class="wrapper">
            <h2>Members</h2>

            <div class="polaroids">
                <div class="polaroid" id="epeli">
                    <img src="/images/members/epeli.jpg" />
                    <div class="name">Esa-Matti Suuronen</div>
                    <div class="description">{% include members/epeli.html %}</div>
                </div>

                <div class="polaroid" id="maakuth">
                    <img src="/images/members/maakuth.jpg" />
                    <div class="name">Markus Vuorio</div>
                    <div class="description">{% include members/maakuth.html %}</div>
                </div>

                <div class="polaroid" id="deggis">
                    <img src="/images/members/deggis.png" />
                    <div class="name">Heikki Salo</div>
                    <div class="description">{% include members/deggis.html %}</div>
                </div>

                <div class="polaroid" id="eladith">
                    <img src="/images/members/eladith.png" />
                    <div class="name">Jarkko Vilhunen</div>
                    <div class="description">{% include members/eladith.html %}</div>
                </div>

                <div class="polaroid" id="zouppen">
                    <img src="/images/members/joell.jpg" />
                    <div class="name">Joel Lehtonen</div>
                    <div class="description">{% include members/joell.html %}</div>
                </div>

                <div class="polaroid" id="tuomasjjrasanen">
                    <img src="/images/members/tuomasjjrasanen.png" />
                    <div class="name">Tuomas Räsänen</div>
                    <div class="description">{% include members/tjjr.html %}</div>
                </div>

                <div class="polaroid" id="bebraw">
                    <img src="/images/members/jv.jpg" />
                    <div class="name">Juho Vepsäläinen</div>
                    <div class="description">{% include members/jv.html %}</div>
                </div>
                
                <div class="polaroid" id="cornix">
                    <img src="/images/members/jouni_potila_3.jpg" />
                    <div class="name">Jouni Potila</div>
                    <div class="description">{% include members/cornix.html %}</div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="span7">
        <div class="wrapper">
        <h2>Information</h2>
        <div id="info"></div>
        </div>
    </div>
</div>

