---
layout: layout
title: Members
css: members
js: members
---

<div class="row">
    <div class="span5">
        <h2>Members</h2>
    
        <div class="polaroids">
            <div class="polaroid" id="epeli">
                <img src="/{{ site.url }}/images/members/epeli.jpg" />
                <div class="name">Esa-Matti Suuronen</div>
                <div class="description">{% include members/epeli.html %}</div>
            </div>

            <div class="polaroid" id="maakuth">
                <img src="/{{ site.url }}/images/members/maakuth.jpg" />
                <div class="name">Markus Vuorio</div>
                <div class="description">{% include members/maakuth.html %}</div>
            </div>

            <div class="polaroid" id="deggis">
                <img src="/{{ site.url }}/images/members/deggis.png" />
                <div class="name">Heikki Salo</div>
                <div class="description">{% include members/deggis.html %}</div>
            </div>
            
            <div class="polaroid" id="eladith">
                <img src="/{{ site.url }}/images/members/eladith.png" />
                <div class="name">Jarkko Vilhunen</div>
                <div class="description">{% include members/eladith.html %}</div>
            </div>

            <div class="polaroid" id="zouppen">
                <img src="/{{ site.url }}/images/members/joell.jpg" />
                <div class="name">Joel Lehtonen</div>
                <div class="description">{% include members/joell.html %}</div>
            </div>

            <div class="polaroid" id="tuomasjormajuhanirasanen">
                <img src="/{{ site.url }}/images/members/generic.jpg" />
                <div class="name">Tuomas Jorma Juhani Räsänen</div>
                <div class="description">{% include members/tjjr.html %}</div>
            </div>

            <div class="polaroid" id="bebraw">
                <img src="/{{ site.url }}/images/members/jv.jpg" />
                <div class="name">Juho Vepsäläinen</div>
                <div class="description">{% include members/jv.html %}</div>
            </div>
        </div>
    </div>
    
    <div class="span7">
        <h2>Information</h2>
        <div id="info"></div>
    </div>
</div>

