<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ site.name }} - {{ page.title }}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js" type="text/javascript"></script>
    <script src="{% if page.url != '/index.html' %}../{% endif %}js/twitterlib.js" type="text/javascript"></script>

    {% if page.js %}<script data-main="{% if page.url != '/index.html' %}../{% endif %}js/{{ page.js }}" src="{% if page.url != 'index.html' %}../{% endif %}js/require-jquery.js"></script>{% endif %}

    <link href="http://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet" type="text/css">    
    <link href="{% if page.url != '/index.html' %}../{% endif %}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% if page.url != '/index.html' %}../{% endif %}css/base.css" type="text/css" media="screen, projection" />
    {% if page.css %}<link rel="stylesheet" href="{% if page.url != '/index.html' %}../{% endif %}css/{{ page.css }}.css" type="text/css" media="screen, projection" />{% endif %}
  </head>
  <body>
    <div class="container">
        <div class="hero-unit">
            <h1>{{ site.name }}</h1>
            <p id="motto">Conclave of contankerous tinkerers</p>

            <ul id="navi">
                <li {% if page.url == '/index.html' %}class="selected"{% endif %}><a href="{% if page.url != 'index.html' %}../{% else %}index.html{% endif %}">Home</a></li>
                <li {% if page.url == '/projects/index.html' %}class="selected"{% endif %}><a href="/projects">Projects</a></li>
                <li {% if page.url == '/members/index.html' %}class="selected"{% endif %}><a href="/members">Members</a></li>
            </ul>
        </div>

        {{ content }}

        <footer>
            <span>&copy; {{ site.name }} 2012</span>
            <span class="contact"><a href="mailto:{{ site.email }}">{{ site.email }}</a>, Phone: {{ site.phone }}</span>
        </footer>
    </div>
  </body>
</html>
