<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ site.name }} - {{ page.title }}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js" type="text/javascript"></script>
    <script src="/js/twitterlib.js" type="text/javascript"></script>

    {% if page.js %}<script data-main="/js/{{ page.js }}" src="/js/require-jquery.js"></script>{% endif %}

    <link href="http://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet" type="text/css">    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/carousel.css" type="text/css" media="screen, projection" />

    {% if page.css %}<link rel="stylesheet" href="/css/{{ page.css }}.css" type="text/css" media="screen, projection" />{% endif %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28673637-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <body>
    <div class="container">
        <div class="hero-unit">
            <div id="siteHeader">
                <img src="/images/logo.png" id="siteLogo" alt="Koodilehto logo" />
                <div id="siteInfo">
                    <h1>{{ site.name }}</h1>
                    <p id="motto">Conclave of contankerous tinkerers</p>
                </div>
            </div>

            <ul class="navi">
                <li {% if page.url == '/index.html' %}class="selected"{% endif %}><a href="/">Home</a></li>
                <li {% if page.url == '/projects/index.html' %}class="selected"{% endif %}><a href="/projects">Projects</a></li>
                <li {% if page.url == '/members/index.html' %}class="selected"{% endif %}><a href="/members">Members</a></li>
            </ul>

            {{ page.extraNavi }}
        </div>

        {{ content }}
        <footer>
            <div>
                <span>&copy; {{ 'now' | date: "%Y" }} {{ site.copyright }}</span>
		<span class="contact">
		<a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
		Phone: {{ site.phone }}<br />
		<div class="logo">
			<img src="/images/logo_white.png" id="actualLogoWhite" alt="Koodilehto logo" />
		</div>
		</span>
            </div>
            
            <div id="attributions">
                <h3>Attributions</h3>
                <div><a href=" http://de.fotopedia.com/items/flickr-161058424">Alps by Franco Pecchio (CC-BY)</a></div>
                <div><a href="http://www.flickr.com/photos/zooboing/4182512221/">Watercolor paper texture by Patrick Hoesly (CC-BY)</a></div>
		<div><a href="http://bitandartat.deviantart.com/#/d3j1yyy">Seamless concrete by Florian Zoubek (CC-BY)</a></div>
            </div>
        </footer>
    </div>
  </body>
</html>
