<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Codegrove - {{ page.title }}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js" type="text/javascript"></script>
    <script src="/js/twitterlib.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.bxSlider.min.js" type="text/javascript"></script>

    <link href="http://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet" type="text/css">    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
    {% if page.css %}<link rel="stylesheet" href="/css/{{ page.css }}.css" type="text/css" media="screen, projection" />{% endif %}
  </head>
  <body>
    <div class="container">
        <div class="hero-unit">
            <h1>Codegrove</h1>
            <p id="motto">Conclave of contankerous tinkerers</p>

            <ul id="navi">
                <li class="selected"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Members</a></li>
            </ul>
        </div>

        {{ content }}

        <footer>
            <p>&copy; Codegrove 2011</p>
        </footer>
    </div>
  </body>
</html>
