.front-header {
    font-size: 54px;
    line-height: 1.5;
}

.header-image {
    background: #558E8E;
    background-image: url("/images/front.jpg");
    background-size: "cover";
    background-position-x: 50%;
}

.front-arrow {
    padding-top: 4vw;
    color: rgba(255, 255, 255, 0.4);
}

.front-arrow:after {
    content: "\25BC";
}

.video-container {
    margin-bottom: 2vw;
}

.video-container iframe {
    width: 100%;
}

.members {
    flex-direction: row;
}

.members .member {
    display: inline-block;
    margin: 1vw;
    float: left;
}

.members .member img {
    position: inherit;
    width: 8vw;
}
