.figure {
    width: 100%;

    text-align: center;
}

.figure img {
    width: 50%;
}

.center img {
    position: inherit;
    display: block;
    margin: 0 auto;
}

.members {
    flex-direction: row;
}

.members .member {
    display: inline-block;
    margin: 1vw;
    float: left;
}

.members .member img {
    position: inherit;
    width: 8vw;
}
